.hero
  color: #FFFFFF
  padding: 50px 105px 110px
  background: radial-gradient(50.75% 50.75% at 50% 49.25%, #006D8D 0%, #0A4759 100%)
  &Header
    margin-bottom: 100px
  &Logo
    width: 156px
    height: 38px
  &Form
    padding: 40px
    display: flex
    border-radius: 10px
    flex-direction: column
    background-color: #0F2B3D
