include ../sections/_hero
include ../sections/_automatization
include ../sections/_bullets
include ../sections/_industry
include ../sections/_case
include ../sections/_responds
include ../sections/_cost
include ../sections/_call
include ../sections/_footer
