section.modal_1
  div.close_button
  div.modal_1_title
    h1 Задать вопрос
    form.modal_1_form
      fieldset.modal1FormName
      legend Имя
      input
      fieldset.modal1FormEmail
      legend Email
      input
      fieldset.modal1FormQuestion
      legend Ваш вопрос
      input
      div.button.button-modal_1_form
        span отправить
      