section.modal_3
  div.close_button
  div.modal_3_title
    h1 Еще несколько вопросов
    form.modal_3_form
      fieldset.modal3FormFieldOfActivity      
      legend Сфера деятельности компании
      input
      fieldset.modal3FormNumberOfEmployees
      legend Количество сотрудников
      input
      fieldset.modal3FormItemSelection
      legend Уже используете систему ЭДО?
      input
      div.button.button-modal_3_form
        span отправить заявку