section.modal_2
  div.close_button
  div.modal_2_title
    h1 Отправить заявку
    form.modal_2_form
      fieldset.modal2FormName
      legend Имя
      input
      fieldset.modal2FormOrganization
      legend Организация
      input
      fieldset.modal2FormPhone
      legend Телефон
      input
      fieldset.modal2FormEmail
      legend Email
      input
      div.button.button-modal_2_form
        span отправить заявку