section.automatization
  div.column
    div.dividerAutomatization.row
      div.divider
    div.autimatizationHeader.row
      div.column
        div.swiperNav-container
          button.swiperNav-left
          button.swiperNav-right
      div(style={'flex-basis':'480px'})
      div.column
        h2 Автоматизация документооборота
    div(style={'flex-basis':'80px'})
    div.row
      div.swiperContainer
        div.swiperItem
          div.swiperItem-image
          div.swiperItem-content.column
            div.swiperItem-content_text
              span Автоматизация документооборота — не просто средство оптимизации внутренних процессов, это возможность получить преимущество в условиях жесткой конкуренции. Системы автоматизированного документооборота помогают ускорить процессы, дают руководителям цельную картину по работам компании для принятия как оперативных, так и стратегических решений.
            div.button.button-automatization
              span отправить заявку
