section.automatization
  div.column
    div.dividerAutomatization
      img(src='icons/waves.svg').divider
    div.row
      div.column
        div.swiperNav-container
          button.swiperNav-left
          button.swiperNav-right
      div.column
        h2 Автоматизация документооборота
    div.row
      div.swiperContainer.column
        div.swiperItem
          div.swiperItem-image
          div.swiperItem-content
            p Автоматизация документооборота — не просто средство оптимизации внутренних процессов, это возможность получить преимущество в условиях жесткой конкуренции. Системы автоматизированного документооборота помогают ускорить процессы, дают руководителям цельную картину по работам компании для принятия как оперативных, так и стратегических решений.
            div.button.button-automatization
              span отправить заявку
