div.column
  div.row
    div.switcher
      span
    div.switcher-Left
      span
    div.switcher-Right
      span
  div.row
    div.column
      img(src="icons/workflowAutomation.svg" )
      h3
      span
    div.column
      img(src="icons/orderAndDiscipline.svg" )
      h3
      span
    div.column
      img(src="icons/formatCompatibility.svg" )
      h3
      span
    div.column
      img(src="icons/singleSpace.svg" )
      h3
      span
  div.row
    div.column
      img(src="icons/developmentByEmployees.svg" )
      h3
      span
    div.column
      img(src="icons/secureSystem.svg" )
      h3
      span
    div.column
      img(src="icons/documentsUnderControl.svg" )
      h3
      span
    div.column
      img(src="icons/archiveForBusiness.svg" )
      h3
      span
