div.column
  div.row
    div.divgroup
      span
    div.divgroup-Left
      span
    div.divgroup-Right
      span
  div.row
    div.column
      img(src="../src/icons/workflowAutomation.svg" alt="")
      h3
      span
    div.column
      img(src="../src/icons/orderAndDiscipline.svg" alt="")
      h3
      span
    div.column
      img(src="../src/icons/formatCompatibility.svg" alt="")
      h3
      span
    div.column
      img(src="../src/icons/singleSpace.svg" alt="")
      h3
      span
  div.row
    div.column
      img(src="../src/icons/developmentByEmployees.svg" alt="")
      h3
      span
    div.column
      img(src="..src/icons/secureSystem.svg" alt="")
      h3
      span
    div.column
      img(src="../src/icons/documentsUnderControl.svg" alt="")
      h3
      span
    div.column
      img(src="../src/icons/archiveForBusiness.svg" alt="")
      h3
      span
