div.column
  div.row
    div.switcher
      span
    div.switcher-Left
      span
    div.switcher-Right
      span
  div.row
    div.column
      img(src='assets/images/icons/workflowAutomation.svg' )
      h3
      span
    div.column
      img(src='assets/images/icons/orderAndDiscipline.svg' )
      h3
      span
    div.column
      img(src='assets/images/icons/formatCompatibility.svg' )
      h3
      span
    div.column
      img(src='assets/images/icons/singleSpace.svg' )
      h3
      span
  div.row
    div.column
      img(src='assets/images/icons/developmentByEmployees.svg' )
      h3
      span
    div.column
      img(src='assets/images/icons/secureSystem.svg' )
      h3
      span
    div.column
      img(src='assets/images/icons/documentsUnderControl.svg' )
      h3
      span
    div.column
      img(src='assets/images/icons/archiveForBusiness.svg' )
      h3
      span
