div.column
  div.row
    button.Buttongroup
    button.Buttongroup-Left
    button.Buttongroup-Right
  div.row
    div.column
      img()
      h3
      span
    div.column
      img()
      h3
      span
    div.column
      img()
      h3
      span
    div.column
      img()
      h3
      span
  div.row
    div.column
      img()
      h3
      span
    div.column
      img()
      h3
      span
    div.column
      img()
      h3
      span
    div.column
      img()
      h3
      span
