div.row.call
  div.column
    div.column.callContactDetails
      img(src="icons/waves.svg")
      h2 Как с нами связаться
    div.column
      span.callPhoneNumber +7 (812)
      span.callPhoneNumberBig 346-61-49
      span.callEmail hello@riverdoc.ru
    div.bgImageCall
      img(src="icons/background.svg")
  div.column.wrapCallForm
    form.callForm
      fieldset.callFormInput
        legend Имя
        input
      fieldset.callFormInput
        legend Email
        input
      fieldset.callFormInput.callFormInputTextarea
        legend Сообщение
        textarea
      button.buttonCallForm
        span Отправить
