div.row.call
  div.column
    div.column.callContactDetails
      img(src="icons/waves.svg")
      h2 Как с нами связаться
    div.column
      span.callPhoneNumber +7 (812) 346-61-49
      span.callEmail hello@riverdoc.ru
    div.bgImageCall
      img(src="icons/background.svg")
  div.column.wrapCallForm
    form.callForm
      fieldset
        legend Имя
        input
      fieldset
        legend Email
        input
      fieldset
        legend Сообщение
        input
      button.buttonCallForm
