section.call
  div.row
    div.column
      div.column
        div.divider
        h2
      div.column
        span
        span
    div.column
      form.callForm
        fieldset
          legend Имя
          input(type="text")
        fieldset
          legend Email
          input(type="email")
        fieldset
          legend Сообщение
          input(type="textarea")
        button.button
