div.column
  div.row
    div.row
      img(src="icons/leftArrow.svg")
      img(src="icons/rightArrow.svg")
    div.column
      img(src="icons/Waves.svg")
      h2
  div.row
    img(src="")
    div.column
      img(src="icons/logoGazprom.svg")
      h3
      span
    img(src="")