div.column
  div.row
    div.row
      img(src='assets/images/icons/leftArrow.svg')
      img(src='assets/images/icons/rightArrow.svg')
    div.column
      div.divider
      h2
  div.row
    div.column
      img(src='assets/images/icons/logoGazprom.svg')
      h3
      span
