section.case

    div.column
      div.row
        div.row
          img(src='assets/images/icons/common/leftArrow.svg')
          img(src='assets/images/icons/common/rightArrow.svg')
        div.column
          div.divider
          h2
      div.row
        div.column
          img(src='assets/images/icons/logoGazprom.svg')
          h3
          span
