section.cost

    div.column
      div.row
        div.column
          div.divider
          h2
      div.row
        div.column
          div.column
            div.column
              span
              span
          div.column
            div.column
              span
              span
          div.column
            div.column
              span
              div.button
        div.column
          div.column
            span
            span
          div.column
            input(type="range")
            span
          div.column
            span
            span
          div.column
            span
            span
          div.button
        div.column
          div.column
            span
            span
          div.column
            input(type="range")
          div.column
            span
            span
          div.column
            span
            span
          div.button
      div.row
        span
