footer
  div.column.footerInfo
    span © 2019 — Riverdock
    span Все права защищены
    span Политика конфиденциальности
    span ООО «Nauka»
  div.row
    img.facebookIconFooter(src="icons/facebookIconFooter.svg")
    img.vkIconFooter(src="icons/vkIconFooter.svg")
  div.row
    img.bgImageFooter(src="icons/background.svg")
