footer
  div.column.footerCopiring
    span © 2019 — Riverdock
    span Все права защищены
    span Политика конфиденциальности
    span ООО «Nauka»
  div.row
    img.facebookIconFooter(src="icons/facebookIcon.svg")
    img.vkIconFooter(src="icons/vkIcon.svg")
  div.row
    img.bgImageFooter(src="icons/background.svg")
