section.hero
  div.column
    header.heroHeader.row
      div.heroHeader-left
        img(src='./assets/images/icons/common/logo.svg').heroLogo
      div(style={'flex-basis': '100%'})
      div.heroHeader-right
        div.button.button-heroHeader
          span задать вопрос
    div.heroContent.row
      div.heroContent-left.column
        h1.heroTitle Riverdoc
        span.heroSubTitle Система управления документами и задачами
        div.dividerHero.row
          div.divider
        p.heroDescription Представляет собой готовое решение для автоматизации документооборота, делопроизводства и управления бизнес-процессами, включая контроль исполнительской дисциплины.
      div.heroContent-right.column
        form.heroForm
          h1 Заявка на демо-доступ
          label Имя
          input
          label Организация
          input
          label Телефон
          input
          label E-mail
          input
          div.button.button-heroForm
            span отправить
