section.hero
  div.container
    header.heroHeader
      div.heroHeader-left
        img.heroLogo
      div.heroHeader-right
        button.heroHeader-right-button Задать вопрос
    div.column
      h1.heroTitle Riverdoc
      span.heroSubTitle Система управления документами и задачами
      hr.heroDivider
      p.heroDescription Представляет собой готовое решение для автоматизации документооборота, делопроизводства и управления бизнес-процессами, включая контроль исполнительской дисциплины.
    div.column
      form.heroForm
