section.hero
  div.column
    header.heroHeader.row
      div.heroHeader-left
        img(src='./assets/images/icons/common/logo.svg').heroLogo
      div(style={'flex-basis': '100%'})
      div.heroHeader-right
        div.button.button-heroHeader
          span задать вопрос
    div(style={'flex-basis':'107px'})
    div.heroContent.row
      div.heroContent-left.column
        h1.heroTitle Riverdoc
        span.heroSubTitle
          | Система управления
          br
          | документами и задачами
        div.divider.divider-start.divider-white
        p.heroDescription
          | Представляет собой готовое решение для автоматизации
          br
          | документооборота, делопроизводства и управления
          br
          | бизнес-процессами, включая контроль исполнительской
          br
          | дисциплины.
      div(style={'flex-basis': '135px'})
      div.heroContent-right.column
        form.heroForm
          h1 Заявка на демо-доступ
          label Имя
          input
          label Организация
          input
          label Телефон
          input
          label E-mail
          input
          div.button.button-heroForm
            span отправить
