section.industry

    div.row
      div.column
        div.divider
        h2
      div.column
        img(src='assets/images/icons/industry/industryOilAndGas.svg')
        span
      div.column
        img(src='assets/images/icons/industry/industryСar.svg')
        span
        img(src='assets/images/icons/industry/industryTelecom.svg')
        span
      div.column
        img(src='assets/images/icons/industry/industryPharmaceuticals.svg')
        span
        img(src='assets/images/icons/industry/industryInformationTechnology.svg')
        span
        img(src='assets/images/icons/industry/industryPowerEngineering.svg')
        span
      div.column
        img(src='assets/images/icons/industry/industryLogistics.svg')
        span
        img(src='assets/images/icons/industry/industryProduction.svg')
        span
      div.column
        img(src='assets/images/icons/industry/industryFinance.svg')
        span
