div.row
  div.column
    img(src="icons/waves.svg")
    h2
  div.column
    img(src="icons/industryOilAndGas.svg")
    span
  div.column
    img(src="icons/industryСar.svg")
    span
    img(src="icons/industryTelecom.svg")
    span
  div.column
    img(src="icons/industryPharmaceuticals.svg")
    span
    img(src="icons/industryInformationTechnology.svg")
    span
    img(src="icons/industryPowerEngineering.svg")
    span
  div.column
    img(src="icons/industryLogistics.svg")
    span
    img(src="icons/industryProduction.svg")
    span
  div.column
    img(src="icons/industryFinance.svg")
    span
