div.row
  div.column
    div.divider
    h2
  div.column
    img(src='assets/images/icons/industryOilAndGas.svg')
    span
  div.column
    img(src='assets/images/icons/industryСar.svg')
    span
    img(src='assets/images/icons/industryTelecom.svg')
    span
  div.column
    img(src='assets/images/icons/industryPharmaceuticals.svg')
    span
    img(src='assets/images/icons/industryInformationTechnology.svg')
    span
    img(src='assets/images/icons/industryPowerEngineering.svg')
    span
  div.column
    img(src='assets/images/icons/industryLogistics.svg')
    span
    img(src='assets/images/icons/industryProduction.svg')
    span
  div.column
    img(src='assets/images/icons/industryFinance.svg')
    span
