section.pointers

    div.column
      div.row
        div.switcher
          span
        div.switcher-Left
          span
        div.switcher-Right
          span
      div.row
        div.column
          img(src='assets/images/icons/pointers/tuningSpeed.svg' )
          h3
          span
        div.column
          img(src='assets/images/icons/pointers/plusesForBusiness.svg' )
          h3
          span
        div.column
          img(src='assets/images/icons/pointers/implementationCost.svg' )
          h3
          span
