div.column
  div.row
    div.switcher
      span
    div.switcher-Left
      span
    div.switcher-Right
      span
  div.row
    div.column
      img(src='assets/images/icons/tuningSpeed.svg' )
      h3
      span
    div.column
      img(src='assets/images/icons/plusesForBusiness.svg' )
      h3
      span
    div.column
      img(src='assets/images/icons/implementationCost.svg' )
      h3
      span
