div.column
  div.row
    div.row
      img(src="icons/waves.svg")
      h2
    div.column
      img(src="icons/leftArrow.svg")
      img(src="icons/rightArrow.svg")
  div.row
    div.column
      span
      span
    div.representative
